<div class="container my-4">
  <div class="row justify-content-center">
    <!-- Card 1 -->
    <div class="col-md-4 col-sm-6 mb-3">
      <div class="card card-zoom">
        <img src="responsive-cert.PNG" class="card-img-top" alt="Responsive Cert">
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4 col-sm-6 mb-3">
      <div class="card card-zoom">
        <img src="js-cert.PNG" class="card-img-top" alt="JS Cert">
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4 col-sm-6 mb-3">
      <div class="card card-zoom">
        <img src="wordpress-cert.PNG" class="card-img-top" alt="WordPress Cert">
      </div>
    </div>
  </div>
</div>