<div class="container my-3">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img src="responsive-cert.PNG" class="card-img-top" alt="Image 3">
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img src="js-cert.PNG" class="card-img-top" alt="Image 3">
        </div>
      </div>
 
      <!-- Card 3 -->
      <div class="col-md-4 col-sm-5">
        <div class="card">
          <img src="wordpress-cert.PNG" class="card-img-top" alt="Image 3">
        </div>
      </div>

    </div>
  </div>
