<hr>
<section class="bsb-timeline-7 py-3 py-md-5 py-xl-8" style="padding: 10px;">
    <div class="container" >
      <div class="row justify-content-center">
        <div class="col-10 col-md-12 col-xl-10 col-xxl-9">

            <p class="educ-head">Experience</p>
  
          <ul class="timeline">


            <li class="timeline-item">
              <div class="timeline-body">
                <div class="timeline-meta">
                  <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis  rounded-2 text-md-end " style="background-color:  rgb(235, 230, 187)!important;">
                    <span class="fw-bold" style="color: black !important;">2022 - Present</span>
                  </div>
                </div>


                <div class="timeline-content timeline-indicator">
                  <div class="card border-0 shadow">
                    <div class="card-body p-xl-4">
                      <h3 class="card-title mb-2">Front End Developer</h3>
                      <h6 class="card-subtitle text-secondary mb-3">HTML, CSS, JAVASCRIPT</h6>
                      <p class="card-text m-0">As a Front End Developer, I specialize in creating dynamic and responsive websites using HTML, CSS, and JavaScript. I also make use of design frameworks such as Bootstrap for advanced styling ensuring scalability and maintainability of projects.

                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>

              <li class="timeline-item">
              <div class="timeline-body">
                <div class="timeline-meta">
                  <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis  rounded-2 text-md-end " style="background-color:  rgb(235, 230, 187)!important;">
                    <span class="fw-bold" style="color: black !important;">2022 - Present</span>
                  </div>
                </div>

                
                <div class="timeline-content timeline-indicator">
                  <div class="card border-0 shadow">
                    <div class="card-body p-xl-4">
                      <h3 class="card-title mb-2">UI/UX Design</h3>
                      <h6 class="card-subtitle text-secondary mb-3">Figma, Adobe XD, Adobe Illustrator, Adobe Photoshop</h6>
                      <p class="card-text m-0"> I create visually compelling and user-centered designs for websites and applications. With expertise in tools like Figma, Adobe XD, Illustrator, and Photoshop, I ensure every design detail supports both the aesthetic and usability of the project. </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>

  
            <li class="timeline-item">
                <div class="timeline-body">
                  <div class="timeline-meta">
                    <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis  rounded-2 text-md-end " style="background-color:  rgb(235, 230, 187)!important;">
                      <span class="fw-bold" style="color: black !important;">2022 - Present</span>
                    </div>
                  </div>
  
                  
                  <div class="timeline-content timeline-indicator">
                    <div class="card border-0 shadow">
                      <div class="card-body p-xl-4">
                        <h3 class="card-title mb-2">Writer and Voice Actress</h3>
                        <h6 class="card-subtitle text-secondary mb-3"></h6>
                        <p class="card-text m-0">In my experience as a Writer and Voice Actress, I bring creative narratives to life by producing high-quality written content and voiceovers. My writing experience spans various forms of storytelling, including scriptwriting, content creation, and narrative design for digital media. As a voice actress, I deliver recordings that complement the written material to produce quality voiceovers.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              

              <li class="timeline-item">
                <div class="timeline-body">
                  <div class="timeline-meta">
                    <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis  rounded-2 text-md-end " style="background-color:  rgb(235, 230, 187) !important;">
                      <span class="fw-bold" style="color: black !important;"> 2017 - Present</span>
                    </div>
                  </div>
  
                  
                  <div class="timeline-content timeline-indicator">
                    <div class="card border-0 shadow">
                      <div class="card-body p-xl-4">
                        <h3 class="card-title mb-2">Graphic and Media Design</h3>
                        <h6 class="card-subtitle text-secondary mb-3">Adobe Illustrator, Photoshop, Premiere Pro and After Effects</h6>
                        <h6 class="card-subtitle text-secondary mb-3"></h6>
                        <p class="card-text m-0">With years of experience in Graphic and Media Design, I create visually compelling graphics and multimedia content for both digital and print, including logos, posters, and promotional materials. I make sure to integrate these designs into websites using HTML, CSS, and JavaScript while ensuring efficiency and clean designs. Additionally, I create engaging video and motion graphics that resonate with audiences.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>



              </li>
  
          </ul>
  
        </div>
      </div>
    </div>
  </section>
<hr>