<div class="container">


  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="profile-picture">
            <img class="img-fluid" src="profile.jpg" alt="Profile Picture">
        </div>
    </div>
</div>

<div class="col-12"> 
    <div class="header">
    
        <div class="full-name">
            <span class="first-name">{{firstname}}</span> 
            <span class="last-name">{{lastname}}</span>
          </div>

        <div class="contact-info">
          <span class="email">{{  email  }}</span>
          <span class="separator"></span>
          <span class="phone">{{  phone  }}</span>
        </div>
        <hr>


        <div class="about" style="font-size: larger;">
          <p class="position"  style="font-size: large; font-weight: 600;">{{  position  }}</p>
          <span class="desc">
            {{  description  }}
          </span>
        </div>
    <hr>

</div>
</div>
</div>
