<section class="progress-section py-5" style=" padding-bottom: 20px;">
    <div class="container">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-12 col-md-10 col-lg-8 col-xl-7">
            <h2 class="fs-6 mb-2 text-secondary text-center text-uppercase">What Motivates Me?</h2>
            <h2 class=" mb-1 text-center"  style="
            font-weight: 300; 
            font-size: 20px; 
            letter-spacing: 1.3px; 
            line-height: 1.6; ;">"My ambition is fueled by the desire to create and express, as to constantly explore new ideas and offer solutions. The sense of fulfillment that comes from bringing designs to life inspires me to deliver outputs that are not only functional but also thoughtfully made to meet the needs of every project." </h2>
            <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark">
          </div>
        </div>
      </div>
      <h2 class=" mb-5">Skills</h2>
      <div class="row">
        <div class="col-md-6 mb-4">
          <h5>Web Design</h5>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar" role="progressbar" style="width: 90%; background-color:rgb(206, 172, 185);  " aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" ></div>
          </div>
          <small class="text-muted">90% Complete</small>
        </div>
        <div class="col-md-6 mb-4">
          <h5>Graphic Design</h5>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar " role="progressbar" style="width: 90%; background-color: rgb(185, 162, 212);" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">90% Complete</small>
        </div>
        <div class="col-md-6 mb-4">
          <h5>UI/UX Design</h5>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar " role="progressbar" style="width: 85%; background-color: rgb(231, 228, 168);" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">85% Complete</small>
        </div>
        <div class="col-md-6 mb-4">
          <h5>Backend</h5>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar " role="progressbar" style="width: 80%; background-color: rgb(173, 172, 209);" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small class="text-muted">70% Complete</small>
        </div>
      </div>
    </div>
    <h2 class=" mb-5 mt-5" style="text-align: center;">Achievements</h2>
    <app-certifications></app-certifications>

  </section>

  <hr>